<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        function showSuccessMessage() {
            alert("You have successfully registered!");
        }
        /*]]>*/
    </script>
</head>
<body>
    <h2>User Registration</h2>
    <form th:action="@{/registration}" method="post" onsubmit="showSuccessMessage();">
        <div>
            <label for="  email">  Email:</label>
            <input type="text" id="email" name="email" required/>
        </div>
        <br>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required/>
        </div>
        <br>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required/>
        </div>
        <br>
        <button type="submit">Register</button>
    </form>
</body>
</html>
